<!DOCTYPE html>
<html>
<head>
    <title>test get post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>id passed: <%= output %></h1>

<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>

</body>
</html>